#shdw
{
  background: #ccc;
  box-shadow: 1px 1.5px #444;
  margin: auto;
  width: 64%;
  border: 1px solid #101010;
}
#shdw2 {
  background: #bababa;
  width: 64%;
  border: 1px solid #8F8F8F;
  margin: 32px auto;
  padding: 0px;
}
h1 {
  text-align: center;
  font-family: arial;
}
#shdw2 li {
  text-decoration: none;
  list-style-type: none;
  color:#444;
}
